<!DOCTYPE frameset SYSTEM "frameset.dtd">
<frameset>
<predicate lemma="persistence">
<roleset id="persistence.01" name="continue" source="verb-persist.01" vncls="55.1">
<roles>

<role descr="causal agent" n="0">
<vnrole vncls="55.1" vntheta="Agent"/></role>

<role descr="thing continuing, persisting" n="1">
<vnrole vncls="47.1-1" vntheta="Theme"/></role>

</roles>

<example name="autogen1">
<text>
McCaw 's persistence
</text>
<arg n="0">McCaw 's</arg>
<rel>persistence</rel>
</example>

<example name="autogen2">
<text>
the persistence of scandal in Washington
</text>
<rel>persistence</rel>
<arg n="1">of scandal</arg>
<arg f="LOC" n="M">in Washington</arg>
</example>

</roleset>
</predicate>
</frameset>
