<!DOCTYPE frameset SYSTEM "frameset.dtd">
<frameset>
<predicate lemma="system">
<roleset id="system.01" name="ability-with-agent">
<roles>

<role descr="agent/owner" n="0"></role>

<role descr="action" n="1"></role>

</roles>

<example name="autogen1">
<text>
the entire physician-reimbursement system under Medicare
</text>
<arg n="1">physician-reimbursement</arg>
<rel>system</rel>
<arg n="0">under Medicare</arg>
</example>

<example name="autogen3">
<text>
a complex job-rating system
</text>
<arg n="1">job-rating</arg>
<rel>system</rel>
</example>

</roleset>
</predicate>
</frameset>
